body{
    background-image: url(visuals/image.png);
    background-repeat: repeat;
}

h1{
    background-color: white;
    color: black;
}

h2{
    background-color: white;
    color: black;
}

p{
    background-color: white;
    color: black;
}

.what{
    background-color: white;
    color: black;
}